.custom-left-center-right-txt{
    height: 90vh;
    background: #F5F3F1;
    position: relative;
    overflow: hidden;

    .simple-txt{

        width: 300px;
        height: 300px;
        padding: 20px;

        h4{
            font-weight: 600;
            font-size: 20px;
            padding-bottom: 20px;
        }

        span{
            padding:10px 0;
        }
    }

    .image-center{
        position:absolute;
        bottom: -100%;
        transition: 1s;
        left: 30%;
    }

    &:hover{
        .image-center{
            bottom:0%;
        }
    }
}