.intro-section{
    background: #F5F3F1;
    height: 40vh;
    text-align: center;
    padding: 40px;

    h2{ 
        margin: auto;
        width: 50%;
        font-size: 37px;
        font-weight: 400;
        position: relative;

        &::after{
content: "";
    width: 18%;
    margin: auto;
    position: absolute;
    bottom: -15px;
    height: 3px;
    background: #a8987e;
    right: 42%;

        }
    }
}