.quote-section{
    
    height: 100vh;
    background: black;
    text-align: center;
    @include d-flex;
    @include d-flex-align-center;

    h2{
        color:#a8987e;
        font-size:47px;
        padding: 20px 0;
    }

    p{
        color: white;
        font-size: 18px;
        padding-bottom: 40px;
    }

    a{
        color: white;
        padding: 10px 20px;
        background: #a8987e;
    }
}